@using EarlyBookingService.Lib.Models
@model List<PurchaseCost>

<h1>Early Booking Conditions</h1>



<div class="row">
    <div class="col-md-4">
        @foreach (PurchaseCost ebCost in Model)
        {
            <div>
                <div class="bookingdate">
                    <i class="fas fa-book"></i>
                    <span>@ebCost.BookingStartDate</span>
                    -
                    <span>@ebCost.BookingEndDate</span>
                </div>
                <div class="traveldate">
                    <i class="fas fa-plane-departure"></i>
                    <span>@ebCost.ReservationStartDate</span>
                    -
                    <span>@ebCost.ReservationEndDate</span>
                </div>
                <div class="ebpercentage">
                    <i class="fas fa-percent"></i>
                    <span>@ebCost.Amount</span>
                </div>
                <div class="prepayment">
                    <i class="far fa-credit-card"></i>
                </div>
                <button>Show bookings</button>
            </div>
        }
    </div>
</div>





